<body>
<mat-toolbar class="fixed-header">
  <button mat-icon-button (click)="navigateToBar()" style="margin-right:1%;">
    <h1>Bar</h1>
  </button>
  <button mat-icon-button (click)="navigateToMenuItems()" style="margin-right:5%;">
    <h1>Menu Items</h1>
  </button>
  <img src="assets/images/Logo.png" class="logo-position">

  <span style=" margin-right: 39%;">Orders</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-card class="tabela opacity"> <!--The mat-card position is determined by the .tabela in style.scss-->
  <mat-card-title>
    <h1>Orders</h1>
</mat-card-title>

  <mat-card-content>
    <table mat-table  [dataSource]="dataSource" class="menu-table mat-elevation-z0"> <!--z8,z7,z6 is the shadow we get on this element, we don't want shadow-->
      <ng-container matColumnDef="orderType">
        <th mat-header-cell *matHeaderCellDef> Order Type </th>
        <td mat-cell *matCellDef="let element"> {{element.orderType}} </td>
      </ng-container>

      <ng-container matColumnDef="orderSpecificName">
        <th mat-header-cell *matHeaderCellDef> Order Name </th>
        <td mat-cell *matCellDef="let element"> {{element.orderSpecificName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="quantity" >
        <th mat-header-cell *matHeaderCellDef> Quantity  </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Full Name Column -->
      <ng-container matColumnDef="quantityType" >
        <th mat-header-cell *matHeaderCellDef>Quantity Type</th>
        <td mat-cell *matCellDef="let element"> {{element.quantityType}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
         <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openUpdateDialog(element.id)"  title="Edit this order">
            <!-- Put the name of the icon from fonts.google.com it will show up automaticaly -->
            <mat-icon class="info-icon" >edit_note</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteDetails(element.id)" title="Delete this order">
            <!-- Put the name of the icon from fonts.google.com it will show up automaticaly -->
            <mat-icon class="delete-buttonCustom">delete</mat-icon>
          </button>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator showFirstLastButton [pageSizeOptions]="[5,3,1]"></mat-paginator>
  </mat-card-content>
</mat-card>
<div id="place-div">
  <button mat-fab color="secondary" (click)="openAddDialog()"  style=" background-color: #FF9800;"  title="Add an order">
    <mat-icon class="material-icon-custom" >add_container</mat-icon>
  </button>
</div>
<mat-toolbar class="fixed-footer">
  <h1><a href="https://www.linkedin.com/in/darko-ristevski/">Developer's Profile</a></h1>
  <img src="assets/images/linkedinlogo.png" style="height:100%; margin-right:0.5%;">
  <img src="assets/images/footerIcon.png" class="logo-position-footer">
  <h1>Darko Ristevski, 186065 <mat-icon>person</mat-icon></h1>
</mat-toolbar>
</body>
