#place-div{
  margin-top:5%;
  margin-right: 7.5%;
  display: flex;
  flex-direction: row-reverse; //this property is for displaying from right to left instead left to right
}
body {
  background-image: url("../BarPicture.jpg");
  background-repeat: repeat;
}
