<body>
  <mat-toolbar class="fixed-header">
    <button mat-icon-button (click)="navigateToOrders()" style="margin-right: 1%">
      <h1>Orders</h1>
    </button>
    <button mat-icon-button>
      <mat-icon style="height:70%; margin-right: 65%;">shelves</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateToBar()" style="margin-right: 2%">
      <h1>Bar</h1>
    </button>
    <button mat-icon-button>
      <mat-icon style="height:70%;">local_bar</mat-icon>
    </button>
    <img src="assets/images/Logo.png" class="logo-position" />

    <span style="margin-right: 34.5%">Menu Items </span>
    <button mat-icon-button style="margin-bottom:0.5%">
      <mat-icon>menu_book</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card class="tabela opacity">
    <!--The mat-card position is determined by the .tabela in style.scss-->
    <mat-card-title>
      <div class="row">
        <div class="column">
          <h1>Drinks</h1>
        </div>
        <div class="column">
          <mat-form-field class="filterInput" appearance="outline">
            <mat-label class="search-color">Search</mat-label>
            <input (keyup)="applyFilter($any($event.target).value)" matInput />
          </mat-form-field>
        </div>
      </div>
    </mat-card-title>

    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="menu-table mat-elevation-z0">
        <!--z8,z7,z6 is the shadow we get on this element, we don't want shadow-->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Drink Code</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Desc</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openUpdateDialog(element.id)" title="Edit this menu item">
              <!-- Put the name of the icon from fonts.google.com it will show up automaticaly -->
              <mat-icon class="info-icon">edit_note</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteDetails(element.id)" title="Delete this menu item">
              <!-- Put the name of the icon from fonts.google.com it will show up automaticaly -->
              <mat-icon class="delete-buttonCustom">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator showFirstLastButton [pageSizeOptions]="[5, 3, 1]"></mat-paginator>
    </mat-card-content>
  </mat-card>
  <div id="place-div">
    <button mat-fab color="secondary" (click)="openAddDialog()" style="background-color: #d58c3a" title="Add menu item">
      <mat-icon class="material-icon-custom">add_container</mat-icon>
    </button>
  </div>
  <mat-toolbar class="fixed-footer">
    <h1>
      <a href="https://www.linkedin.com/in/darko-ristevski/">Developer's Profile</a>
    </h1>
    <img src="assets/images/linkedinlogo.png" style="height: 100%; margin-right: 0.5%" />
    <img src="assets/images/footerIcon.png" class="logo-position-footer" />
    <h1>Darko Ristevski, 186065 <mat-icon>person</mat-icon></h1>
  </mat-toolbar>
</body>
