<body>
  <mat-toolbar class="fixed-header">
    <button mat-icon-button (click)="navigateToOrders()" style="margin-right: 1%">
      <h1>Orders</h1>
    </button>
    <button mat-icon-button >
      <mat-icon style="height:70%; margin-right: 65%;">shelves</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateToMenuItems()" style="margin-right:2%;">
      <h1 >Menu Items</h1>
    </button>
    <button mat-icon-button style="margin-right:5%; margin-bottom:0.3%" >
      <mat-icon >menu_book</mat-icon>
    </button>
    <img src="assets/images/Logo.png" class="logo-position" style="margin-right: 25.9%;">
    <span style=" margin-right: 40%;">Bar </span>
    <button mat-icon-button >
      <mat-icon style="height:70%;">local_bar</mat-icon>
    </button>
    <span class="example-spacer"></span>
  </mat-toolbar>
<img src="assets/images/Restaurant_image-removebg-preview.png"  class="bar-scheme">
<button mat-button id="table1" [matMenuTriggerFor]="menu8" class="table1">
  <mat-icon>circle</mat-icon>
  <mat-menu #menu8="matMenu">
    <button mat-menu-item (click)="openDialog(10)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table1')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table1')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table1')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table2" [matMenuTriggerFor]="menu7" class="table2">
  <mat-icon>circle</mat-icon>
  <mat-menu #menu7="matMenu">
    <button mat-menu-item (click)="openDialog(11)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table2')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table2')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table2')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table3" [matMenuTriggerFor]="menu"   class="table3">
  <mat-icon>circle</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog(12)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table3')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table3')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table3')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table4" [matMenuTriggerFor]="menu2" class="table4">
  <mat-icon >rectangle</mat-icon>
  <!--You got to change the name of the menu or it will apply to table3!-->
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="openDialog(13)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table4')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table4')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table4')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table5" [matMenuTriggerFor]="menu3" class="table5">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu3="matMenu">
    <button mat-menu-item (click)="openDialog(14)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table5')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table5')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table5')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table6" [matMenuTriggerFor]="menu4" class="table6">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu4="matMenu">
    <button mat-menu-item (click)="openDialog(15)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table6')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table6')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table6')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table7" [matMenuTriggerFor]="menu5" class="table7">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu5="matMenu">
    <button mat-menu-item (click)="openDialog(16)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table7')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table7')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table7')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table8" [matMenuTriggerFor]="menu6" class="table8">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu6="matMenu">
    <button mat-menu-item (click)="openDialog(17)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table8')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table8')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table8')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table9" [matMenuTriggerFor]="menu9" class="table9">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu9="matMenu">
    <button mat-menu-item (click)="openDialog(18)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table9')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table9')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table9')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table10" [matMenuTriggerFor]="menu10" class="table10">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu10="matMenu">
    <button mat-menu-item (click)="openDialog(19)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table10')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table10')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table10')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table11" [matMenuTriggerFor]="menu11" class="table11">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu11="matMenu">
    <button mat-menu-item (click)="openDialog(20)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table11')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table11')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table11')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table12" [matMenuTriggerFor]="menu12" class="table12">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu12="matMenu">
    <button mat-menu-item (click)="openDialog(21)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table12')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table12')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table12')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table13" [matMenuTriggerFor]="menu13" class="table13">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu13="matMenu">
    <button mat-menu-item (click)="openDialog(22)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table13')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table13')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table13')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table14" [matMenuTriggerFor]="menu14" class="table14">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu14="matMenu">
    <button mat-menu-item (click)="openDialog(23)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table14')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table14')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table14')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table15" [matMenuTriggerFor]="menu15" class="table15">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu15="matMenu">
    <button mat-menu-item (click)="openDialog(24)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table15')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table15')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table15')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table16" [matMenuTriggerFor]="menu16" class="table16">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu16="matMenu">
    <button mat-menu-item (click)="openDialog(25)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table16')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table16')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table16')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table17" [matMenuTriggerFor]="menu17" class="table17">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu17="matMenu">
    <button mat-menu-item (click)="openDialog(26)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table17')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table17')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table17')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table18" [matMenuTriggerFor]="menu18" class="table18">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu18="matMenu">
    <button mat-menu-item (click)="openDialog(27)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table18')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table18')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table18')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table19" [matMenuTriggerFor]="menu19" class="table19">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu19="matMenu">
    <button mat-menu-item (click)="openDialog(28)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table19')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table19')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table19')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table20" [matMenuTriggerFor]="menu20" class="table20">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu20="matMenu">
    <button mat-menu-item (click)="openDialog(29)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table20')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table20')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table20')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table21" [matMenuTriggerFor]="menu21" class="table21">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu21="matMenu">
    <button mat-menu-item (click)="openDialog(30)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table21')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table21')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table21')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table22" [matMenuTriggerFor]="menu22" class="table22">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu22="matMenu">
    <button mat-menu-item (click)="openDialog(31)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table22')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table22')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table22')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table23" [matMenuTriggerFor]="menu23" class="table23">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu23="matMenu">
    <button mat-menu-item (click)="openDialog(32)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table23')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table23')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table23')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table24" [matMenuTriggerFor]="menu24" class="table24">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu24="matMenu">
    <button mat-menu-item (click)="openDialog(33)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table24')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table24')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table24')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table25" [matMenuTriggerFor]="menu25" class="table25">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu25="matMenu">
    <button mat-menu-item (click)="openDialog(34)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table25')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table25')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table25')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table26" [matMenuTriggerFor]="menu26" class="table26">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu26="matMenu">
    <button mat-menu-item (click)="openDialog(35)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table26')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table26')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table26')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="table27" [matMenuTriggerFor]="menu27" class="table27">
  <mat-icon >rectangle</mat-icon>
  <mat-menu #menu27="matMenu">
    <button mat-menu-item (click)="openDialog(36)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('table27')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('table27')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('table27')">Reserve the table</button>
  </mat-menu>
</button>
<button mat-button id="counter" [matMenuTriggerFor]="menu28" class="counter">
  <mat-icon >circle</mat-icon>
  <mat-menu #menu28="matMenu">
    <button mat-menu-item (click)="openDialog(37)">Add Food or Drinks</button>
    <button mat-menu-item (click)="setTakenClass('counter')">The table is taken</button>
    <button mat-menu-item (click)="setFreedClass('counter')">The table is free</button>
    <button mat-menu-item (click)="setReservedClass('counter')">Reserve the table</button>
  </mat-menu>
</button>
<mat-toolbar class="fixed-footer">
  <h1><a href="https://www.linkedin.com/in/darko-ristevski/">Developer's Profile</a></h1>
  <img src="assets/images/linkedinlogo.png" style="height:100%; margin-right:0.5%;">
  <img src="assets/images/footerIcon.png" class="logo-position-footer">
  <h1>Darko Ristevski, 186065 <mat-icon>person</mat-icon></h1>
</mat-toolbar>
</body>
