<mat-tab-group>
  <mat-tab label="First">
    <mat-card class="tabela2"> <!--The mat-card position is determined by the .tabela in style.scss-->
      <mat-card-title>
        <h1>Menu:</h1>
    </mat-card-title>
    <mat-card-content>
      <table mat-table  [dataSource]="dataSource" class="menu-table2 mat-elevation-z0"> <!--z8,z7,z6 is the shadow we get on this element, we don't want shadow-->

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description" >
          <th mat-header-cell *matHeaderCellDef> Desc  </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="price" >
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
           <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="addDrink(element.name)" aria-label="Example icon button with a home icon">
              <!-- Put the name of the icon from fonts.google.com it will show up automaticaly -->
              <mat-icon class="addDrink">edit-square</mat-icon>
            </button>
        </ng-container>
        <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator2 showFirstLastButton [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </mat-card-content>
    </mat-card>
  </mat-tab>
  <!--SECOND TAB-->
  <mat-tab label="Second">
    <div class="row">
    <div class="column">
    <mat-card class="tabela3"> <!--The mat-card position is determined by the .tabela in style.scss-->
      <mat-card-title>
        <h1>This table has:</h1>
    </mat-card-title>
    <mat-card-content>
      <table mat-table  [dataSource]="dataSource2" class="menu-table3 mat-elevation-z0"> <!--z8,z7,z6 is the shadow we get on this element, we don't want shadow-->

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price" >
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <tr  mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
      <mat-paginator #paginator showFirstLastButton [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

    </mat-card-content>
    </mat-card>
    </div>
    <div class="column">
      <h2> The bill for this table is <b> {{totalSum}} </b> denars<br> <button mat-button mat-dialog-close class="backButton" (click)="clearTable()">Clear the table</button></h2>
    </div>
  </div>
  </mat-tab>

</mat-tab-group>
