.menu-table2{
  width:680px;
}
.tabela2{
  // margin-top:20%;
   margin: 50px auto;
   width: 680px;
   display: block;
}
.menu-table3{
  width:340px;
}
.tabela3{

   width: 340px;
  //  display: inline-block;
}
h2{
  margin-left: 2.5%;
  // display: inline-block;
  height: 50%;
}
b{
  color:green
}
.addDrink{
  color:#FF9800
}


