/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.tabela{
  // margin-top:20%;
   margin: 75px auto;
   width:1024px;
   display: block;
}
.opacity{
  opacity: 0.9;
}
.menu-table{
  width:100%;
}
.delete-buttonCustom{
  color: #c20000;
}
.over-whole-form{
  width: 95%;
}
.first-of-two{
  margin-right: 25px;
   width:55%;
}
.second-of-two{
  width:35%;
}
mat-card-title{
  margin-bottom:15px;
}
.createColor{
  color:#00A5F3;
}
.createColor:hover{
  background-color:#00A5F3;
  color:white;
}
.backButton:hover{
  background-color: red;
  color: aliceblue;
}
.backButton{
  color:red;
}
.table-dialog {
  position: relative;
  z-index: 2000  ;
}
.info-icon {
  color: rgb(26, 122, 26);

}
#place-div{
  margin-right: 7.5%;
  margin-top: -3.5%;
  display: flex;
  flex-direction: row-reverse; //this property is for displaying from right to left instead left to right
}
.material-icon-custom{
  background-color: #FF9800;
  color:#FAFAFA;
}
.fixed-header {
    direction:rtl;
    color:#D58C3A;
    background-color: #11150C;
}
.fixed-footer{
  direction: rtl;
  position: sticky;
  margin-bottom:0;
  height: 5vh;
  color:#D58C3A;
  background-color: #11150C;
  top: 100vh;
}
.logo-position{
  height: 100%;
  margin-right: 35%;
}
.logo-position-footer{
  height: 100%;
  margin-right: 30%;
  margin-left:24%;
}
a:visited{
  color:#D58C3A;
  text-decoration: none;
}
a{
  text-decoration: none;
}

